/* Add some left and right padding to keep the design consistent
   with the wider experience.
 */
@media (max-width: 1163px) {
    .wrapper {
        margin: 0 15px;
    }
}

/* Drop the navbar menu and the footer columns to their own line to
   make up for the lack of horizontal space.
 */
@media (max-width: 836px) {
    .logo {
        margin-bottom: 7px;
    }
    .navbar {
        width: 100%;
        clear: left;
    }
    .navbar li {
        width: 16.6%;
        text-align: center;
    }
    .more-info {
        clear: left;
    }
    .more-info .footer-cols {
        width: 25%;
        margin-top: 30px;
    }
    .footer h4 {
        margin-bottom: 10px;
    }
    .footer-promo {
        margin-right: 20px;
    }
}
/* Standard iPad portrait width. */
@media (max-width: 768px) {
    .cat-table .cat-table-latest {
        /* @TODO: consider a different approach so to still show this information */
        position: absolute;
        top: -999em;
        left: -999em;
    }
    .item-count {
        width: auto;
    }
}

/* Render the footer as 2 instead of 4 columns once we hit the 500px mark.
   This makes it easier to read and interact it.
 */
@media (max-width: 500px) {
    .more-info .footer-cols {
        width: 50%;
    }
    .force-drop {
        clear: left;
    }
}

/* Standard iPhone 5 landscape width. */
@media (max-width: 568px) {

    .hiddenSmallScreen {
        position: absolute!important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px,1px,1px,1px);
        padding: 0!important;
        border: 0!important;
        height: 1px!important;
        width: 1px!important;
        overflow: hidden;
    }

    .content .wrapper {
        margin: 0;
    }
    .hero-heading p {
        width: auto;
    }
    .cat-filters li {
        width: 33.3%;
    }
    .cat-filters li .btn {
        width: 100%;
    }
    .cat-filters .view-all {
        width: 100%;
        margin-bottom: 5px;
    }
    .cat-filters .view-all .btn {
        width: 100%;
    }
    .navbar {
        min-width: 100%;
        clear: both;
    }
    .navbar li {
        width: auto;
        float: none;
        display: none;
    }
    .navbar:hover li {
        display: block;
    }
    .navbar li.selected {
        display: block;
    }
    .navbar li.selected a {
        background: #FC4C02;
        color: #FFF;
    }
    .upload {
        display: none;
    }
    .usertools li.profile {
        padding-left: 0;
        margin-right: 0;
    }
    .hero-heading {
        margin: 17px 10px 10px 10px;
    }
    .cat-table-category {
        text-align: center;
    }
    .cat-info {
        margin-left: 0;
    }
    .cat-logo {
        float: none;
    }
    .item-count::after {
        content: ' ' attr(data-legend);
    }

    .content-col,
    .aside-col {
        float: none;
        width: auto;
    }

    .content-col {
        border: none;
    }
    .aside-col {
        padding: 0;
    }

    .topic-list h1 {
        float: none;
    }

    .topic-list .comment-cta {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .post {
        padding-left: 0;
    }
    .post-header .post-avatar {
        margin: 0 5px 10px 0;
    }
    .post-content {
        margin-top: 10px;
        clear: left;
    }

    .list-vertical a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .wrapper,
    .aside-col,
    .topic-list h1,
    .breadcrumb,
    .thread-list,
    .thread-title,
    .thread-comment {
        margin-left: 10px;
        margin-right: 10px;
    }

    .comment-avatar {
        display: none;
    }
    .textarea-wrapper {
        margin-left: 0;
    }


    .footer .language-picker {
        float: none;
        text-align: left;
    }
    .footer-promo {
        width: 100%;
    }
}
