.button {
    border: none;
    color: #333;
    font-size: 14px;
    min-height: 34px;
    padding: 9px 10px;
}

.button-primary {
    color: #FFF;
    background-color: #FC4C02;
    border: 1px solid #FC4C02;
}

.button-primary:hover {
    background-color: #e34402;
    border-color: #e34402;
}

.button-secondary {
    background-color: #FFF;
    border: 1px solid #CCC;
}
.button-secondary:hover {
    background-color: rgba(0,0,0,0.05);
}

.button-small {
    font-size: 12px;
    min-height: 30px;
    padding: 8px 10px;
}

.button-xsmall {
    font-size: 12px;
    min-height: 20px;
    padding: 4px 10px;
}