html {
    font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    color: #333;
    background-color: #EEE;
    font-size: 14px;
    line-height: 1.4;
}

/* BRANDING */
::selection {
    background-color: #fc4c02;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background-color: #fc4c02;
    color: #fff;
    text-shadow: none;
}

a {
    color: #007fb6;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color 0.075s linear,border 0.1s linear,box-shadow 0.1s linear,background-color 0.1s linear,opacity 0.1s linear;
    -moz-transition: color 0.075s linear,border 0.1s linear,box-shadow 0.1s linear,background-color 0.1s linear,opacity 0.1s linear;
    -o-transition: color 0.075s linear,border 0.1s linear,box-shadow 0.1s linear,background-color 0.1s linear,opacity 0.1s linear;
    -ms-transition: color 0.075s linear,border 0.1s linear,box-shadow 0.1s linear,background-color 0.1s linear,opacity 0.1s linear;
    transition: color 0.075s linear,border 0.1s linear,box-shadow 0.1s linear,background-color 0.1s linear,opacity 0.1s linear;
}

a:hover,
a:active {
    text-decoration: underline;
}
a:focus,
button:focus {
    outline: #333 thin dotted;
}

h1,
h2,
h3,
h4,
button,
a,
.navbar {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -0.01em;
}

h2 {
    font-weight: 300;
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
    font-weight: 400;
}
h6 {
    font-size: 12px;
    font-weight: 600;
}

.txt-secondary {
    color: #999;
}

.btn {
    color: #333;
    margin: 0;
    padding: 10px 25px;
    border: none;
    background: none;
}

.btn-primary {
    color: #FFF;
    background-color: #FC4C02;
    border: 1px solid #FC4C02;
}

.btn-primary:hover {
    background-color: #e34402;
    border-color: #e34402;
}
a.btn-primary:hover {
    text-decoration: none;
}

.btn-secondary {
    background-color: #FFF;
    border: 1px solid #CCC;
}
.btn-secondary:hover {
    background-color: rgba(0,0,0,0.05);
}

.btn-secondary.selected {
    background: #333;
    border-color: #999;
    color: #fff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: #777;
    background: -moz-linear-gradient(top,  #666,  #777);
    background: -webkit-gradient(linear,  left top,  left bottom,  from(#666),  to(#777));
    background: -o-gradient(linear,  left top,  left bottom,  from(#666),  to(#777));
    background: -ms-gradient(linear,  left top,  left bottom,  from(#666),  to(#777));
}

.btn-group .btn {
    min-width: 94px;
    margin-right: -1px;
}

.dropdown-icon {
    display: inline-block;
    width: 9px;
    height: 19px;
    margin-left: 5px;
    background: url(http://strava.com/assets/sprites/sprites-nav-f3880ef705a71c818e5847e7c2f80d43.png) no-repeat 0 0;
}

.btn-small {
    padding: 7px 20px;
}

.btn-xsmall {
    padding: 5px 15px;
}
a.btn-xsmall {
    padding: 7px 15px;
}

.fs-xxlarge {
    font-size: 30px;
}
.fs-xlarge {
    font-size: 24px;
}
.fs-large {
    font-size: 18px;
}
.btn,
.fs-medium {
    font-size: 16px;
}
.btn-small,
.fs-small {
    font-size: 14px;
}

.btn-xsmall,
.fs-xsmall {
    font-size: 13px;
}

