/* HELPERS */

/* Block Formatting Context
Used for:
    - preventing collapsing margins
    - containing floats
    - prevent overlapping floats
*/
.bfc {
    overflow: hidden;
    zoom: 1;
}
.hidden {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden;
}

.text-hidden {
    text-indent: -999em;
    overflow: hidden;
    zoom: 1;
}

.list-simple {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-vertical li {
    float: left;
}

.list-vertical a {
    display: block;
    padding: 8px 20px;
    border-top: 2px solid transparent;
}

.list-vertical a:link,
.list-vertical a:visited {
    color: #666;
    text-decoration: none;
}

.list-vertical a:hover,
.list-vertical .selected a:hover,
.list-vertical a:focus,
.list-vertical a:active {
    color: #333;
    background-color: #FFF;
}

.list-vertical .selected a {
    border-top: 2px solid #FC4C02;
    background: #FFF;
}

.tabbar {
    background: #F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f5f5f5));
    background: -moz-linear-gradient(top, #f7f7f7, #f5f5f5);
    background: -o-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f5f5f5));
    background: -ms-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f5f5f5));
    border: 1px solid #ccc;
    border-bottom: none;
    margin-bottom: -1px;
}

.tabbar li {
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
}
.tabbar .selected {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: -1px;
}

.table-simple {
    border-spacing: 0;
    empty-cells: show;
    text-align: left;
}
.table-simple thead {
    background-color: rgba(0,0,0,0.02);
}
.table-simple th {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    padding: 8px 10px;
    font-weight: normal;
}
.table-simple .first-child {
    padding-left: 20px;
}
.table-simple .last-child {
    padding-right: 20px;
    border-right: none;
}
.table-simple td {
    background-color: transparent;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px;
}

.table-simple-striped tr:nth-child(even) {
    background-color: rgba(0,0,0,0.02);
}