/* HELPERS */

/* Block Formatting Context
Used for:
    - preventing collapsing margins
    - containing floats
    - prevent overlapping floats
*/
.bfc {
    overflow: hidden;
    zoom: 1;
}
.hidden {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden;
}

.text-hidden {
    text-indent: -999em;
    overflow: hidden;
    zoom: 1;
}

.list-simple {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-simple-vertical li {
    float: left;
}